.rank {
    height: 20px;
}

.rank-yellow {
    background-color: yellow;
}

.rank-red {
    color: white;
    background-color: red;
}

.online {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 1em;
  background-color: green;
}

.offline {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 1em;
  background-color: red;
}


.hidden {
    display: none;
}

#alertZone {
    width: 500px;
}
